body {
    background-color: rgb(250, 219, 205);
}

h2 {
    color: rgb(228, 135, 145);
    font-weight: 900;
    font-size: 2em;
    text-align: center;
    background-color: rgb(#f8a79c);
}

h1 {
    background-color: rgb(197, 150, 159);
    display: flex;
    justify-content: first baseline
}

p {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 177, 187);
    display: flex;
    justify-content: first baseline
}